.nooble {
    font: bold normal 500% "Candara";
    color: #39a0ff;
    text-align: center;
    padding: 2px 5px;
    margin-top: 100px;
url("/");
}

.nooble-little {
    font: bold normal 30px "Candara";
    color: #39a0ff;
    padding: 2px 5px;
    margin: 5px;
}

.message {
    font: bold normal 100% "Arial";
    background-color: #f4ffd7;
    text-align: center;
    padding: 2px 5px;
    border: solid 1px green;
    margin: 0 auto;
}

.search-bg {
    background: #f1f1f1;
    width: 100%;
    left: 0;
    height: 59px;
    border: 1px solid #e5e5e5;
}

div {
    display: block;
}

.index {
    text-align: center;
}

input.uri {
    width: 500px;
}

input.search-depth {
    width: 50px;
}

.result-text {
    color: #808080;
    font-family: arial,sans-serif;
    font-size: small;
}

.search-result {
    margin-left: 120px;
}

label input {
    vertical-align: middle;
}
